{{- /*
(c) Cartesi and individual authors (see AUTHORS)
SPDX-License-Identifier: Apache-2.0 (see LICENSE)
*/}}

{{- if .Values.ingress.enabled -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "validator.fullname" . }}-validator
  labels: {{- include "validator.labels" . | nindent 4 }}
  annotations:
  {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  rules:
    - host: {{ .Values.validator.config.CARTESI_CONTRACTS_DAPP_ADDRESS | lower }}.{{ .Values.ingress.subDomain }}
      http: &graphql
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: {{ include "validator.fullname" . }}-validator
                port:
                  number: 4000
    {{- if .Values.ingress.addReleaseNameAsHost }}
    - host: {{ .Release.Name | lower }}.{{ .Values.ingress.subDomain }}
      http: *graphql
    {{- end }}
    - host: {{ .Values.validator.config.CARTESI_CONTRACTS_DAPP_ADDRESS | lower }}.{{ .Values.ingress.subDomain }}
      http: &inspect
        paths:
          - pathType: Prefix
            path: /inspect
            backend:
              service:
                name: {{ include "validator.fullname" . }}-validator
                port:
                  number: 5005
    {{- if .Values.ingress.addReleaseNameAsHost }}
    - host: {{ .Release.Name | lower }}.{{ .Values.ingress.subDomain }}
      http: *inspacet
    {{- end }}
{{- end }}
