name: kubeconform

on: pull_request

jobs:
  kubeconform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version:
          - "1.25.11"
          - "1.26.6"
          - "1.27.3"
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure test-values
        env:
          MNEMONIC: ${{ secrets.MNEMONIC }}
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
          TEST_VALUES_PATH: ./charts/rollups-validator-node/ci/test-values.yaml
        run: cat $TEST_VALUES_PATH.tpl | envsubst > $TEST_VALUES_PATH

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.1

      - name: Add dependancies
        working-directory: ./charts/rollups-validator-node
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency build

      - name: Install kubeconform
        env:
          KUBECONFORM_VERSION: "0.6.1"
        run: |
          wget https://github.com/yannh/kubeconform/releases/download/v${KUBECONFORM_VERSION}/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform-linux-amd64.tar.gz
          install kubeconform /usr/local/bin
          kubeconform -v

      - name: Run kubeconform
        run: |
          helm template test -f ./charts/rollups-validator-node/ci/test-values.yaml ./charts/rollups-validator-node | \
          kubeconform \
            -schema-location default \
            -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' \
            -ignore-missing-schemas \
            -kubernetes-version=${{ matrix.k8s_version }} \
            -output=tap
