name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure test-values
        env:
          MNEMONIC: ${{ secrets.MNEMONIC }}
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
          TEST_VALUES_PATH: ./charts/rollups-node/ci/test-values.yaml
        run: cat $TEST_VALUES_PATH.tpl | envsubst > $TEST_VALUES_PATH

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.1

      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.base_ref }})
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Add dependancies
        run: |
          cd ./charts/rollups-node
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency build

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.base_ref }}

      - name: Create kind cluster
        uses: helm/kind-action@v1.8.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Install postgres service to kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm install postgresql bitnami/postgresql \
            --namespace default \
            --wait \
            --set auth.enablePostgresUser=true \
            --set auth.postgresPassword=postgres \
            --set image.tag=13.9.0-debian-11-r27

      - name: Install redis service to kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm install redis bitnami/redis \
            --namespace default \
            --wait \
            --set auth.enabled=false \
            --set architecture=replication \
            --set image.tag=6.2-debian-11

      - name: Run chart-testing (install)
        run: |
          ct install \
            --debug \
            --namespace default \
            --target-branch ${{ github.event.repository.default_branch }}
